<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('提交成功')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <style>
        .submit{
            display: inline;
            writing-mode: tb-rl;
            color: #2b64e4;
            font-size: 5rem;
            margin-left: 10%;
            font-weight: bolder;
        }
    </style>
</head>
<body class="white-bg" style="background-color: #ab1212;">
<!--    <div class="submit" style="display: inline">-->
<!--        提交成功-->
<!--    </div>-->
    <div style="">
        <img style="width: 100%;" src="/img/success.jpg">
    </div>
</body>
</html>